/* get style */


.get-text{
    text-align: center;
    font-size: 14px;
    margin-bottom: 13px;
}

.get-container .get-list {
    min-height: 374px;
}

.get-list-item-name{
    font-size: 9px;
    color: #333333;
    align-self: center;
}

.get-list-item-num{
    font-size: 14px;
    border: 1px solid #BDBDBD;
    border-radius: 5px;
    padding: 6px 11px 5px 11px
}

.total-price {
    font-size: 12px;
    margin-top: 12px;
    text-align: right;
}

@media (max-width:360px){
    body{
        background-color: white;
    }

    header{
        height: 78px;
        margin-bottom: 18px;
    }

    .container{

        grid-template-areas:
        "i"
        "m"
        "g";
        gap:0px;

        padding-top: 0;
    }
    
    .machine{
        padding-top: 0;
        padding-bottom:0;
    }

    .money-container{
        margin-top: 20px;
        margin-bottom: 41px;
    }

    .get-container{
        padding-top: 0px;
    }
}