
.machine {
    padding: 31px 27px 28px 27px;
    grid-area: i;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.money-container {
    padding: 9px 27px 9px 27px;
    grid-area: m;
}

.get-container {
    padding: 25px 27px 26px 27px;
    grid-area: g;
}

/* item style */
.item-list{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:12px

    
}

.item {
    position: relative;
    padding: 82px 11px 9px 13px;
    background-color: white; 

    background-image: url(./img/can.svg);
    background-position: 29px 11px;
    background-size: 36px 65px;
    background-repeat: no-repeat;

    width: 94px;
    height: 130px;

    border-radius: 10px;
    box-shadow : 0px 0px 4px rgba(0, 0, 0, 0.5);
    border: 0px;
}

.item:active{
    box-shadow: 0px 0px 0px 3px #6327FE;

}

.item:disabled{
    box-shadow: none;
    font-weight: 500;
    color: black;
}

.item:disabled::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    width: inherit;
    height: inherit;
    border-radius: 10px;
    
    background-color:  rgba(0, 0, 0, 0.8);
    background-image: url(img/soldout.svg);
    background-repeat: no-repeat;
    background-position: center 45px;
}


.item-title{
    font-size:9px; 
    text-align: center;
    color: #333333;

}

.item-price{
    padding: 4px 1px;
    margin-top: 5px;
    font-size:12px;

    color: white;

    background-color: #6327FE;
    border-radius: 50px;

    display: flex;

    justify-content: center;
    align-items: center;
}


/* status */

.status{
    box-sizing: border-box;
    margin-top: 20px;

    display: grid;

    grid-template-rows: 32px 32px 106px;
    gap:12px;
}

.status form[name ^= "status"]{
    display: grid;
    grid-template-columns: 200px 94px;
    gap: 12px;
}

/* btn */

.btn{
    background-color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 0px 4px rgba(0, 0, 0, 0.5);    
    border-radius: 5px;
    /* align-self: flex-end; */
}

.btn:active{
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
}

.btn-text{
    font-size: 13px;
}

.btn-get{
    background: #6327FE;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
    border-radius: 5px;

    font-weight: 700;
    font-size: 13px;
    color: #FFFFFF;
}

.btn-get:active{
    background: #EB5757;
}


/* input money */

.money-box{
    box-sizing: border-box;
    padding : 6px 10px 6px 10px;
    border-radius: 5px;
    background-color: #EAE8FE;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* input */

#in {
    box-sizing: border-box;
    border: 1px solid #BDBDBD;
    border-radius: 5px;
    padding-left: 6px;
}

/* status-list */


.get-list{
    box-sizing: border-box;
    background-color: #EAE8FE;
    overflow-y: scroll;

    padding: 12px 12px 18px 12px;

    border: 1px solid #BDBDBD;
    border-radius: 5px;
}

.get-list-item{
    background-repeat: no-repeat;
    background-size: 18px 33px;
    background-position: 10px 6px;
    background-color: white;

    box-sizing: border-box;
    padding: 8px 8px 8px 38px;
    border-radius: 5px;

    display: flex;
    justify-content: space-between;


    margin-bottom: 6px;
}


.original{
    background-image: url(./img/can.svg);
}
.green{
    background-image: url(./img/green.svg);
}
.cool{
    background-image: url(./img/cool.svg);
}
.yellow{
    background-image: url(./img/yellow.svg);
}
.violet{
    background-image: url(./img/violet.svg);
}
.orange{
    background-image: url(./img/orange.svg);
}